.Landing {
    color: black;
    background-color: #74a0b4;
    background: url("https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
    /* background-size : 1300px  1000px; */
    height: 657px;
}

.Landing h1{
    margin: 0px;
    padding: 150px;
}

.Landing button {
    margin-top: 125px;
    background: transparent;
    border: 2px solid #283288;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.993);
    padding: 20px 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    overflow: hidden;
    height: 50px;
}

.Landing button:hover {
    background-color: rgb(167, 187, 194);
} 